.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../../Images/mainImage.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh;
}

.mainPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mainInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
    font-family: serif;
    /* font-size: 2.4vw; */
    font-size: calc(1 * (2.5vh + 1vw));
    font-weight: bold;
    width: auto;
}

.titleInfo {
    font-family: serif;
    /* font-size: 1.4vw; */
    font-size: calc(.6 * (2.5vh + 1vw));

}

.wheelDiv {
  position: relative;
  width: 8vw;
  height: 17vh;
}

.topRight {
  position: absolute;
  overflow: hidden;
  width: 2.1vw;
  top: 0;
  right: 1.7vw;
  animation: rightRotation 6s infinite linear;
}

.topLeft {
  position: absolute;
  overflow: hidden;
  width: 3.1vw;
  top: 0;
  left: 1vw;
  animation: leftRotation 8s infinite linear;
}

.bottomRight {
  position: absolute;
  overflow: hidden;
  width: 3.1vw;
  bottom: 5.5vh;
  left: 3.3vw;
  animation: rightRotation 6s infinite linear;
}

@keyframes rightRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes leftRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.runner {
  width: 18vw;
}

.yoga {
  width: 18vw;
}

.leftPart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
}

.rigthPart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
}

/* @media only screen and (max-width: 600px) {
  .runner {
    width: 10vw;
  }
  
  .yoga {
    width: 10vw;
  }
} */
